= render './header'
.panel
  %h1 User
  - if flash.present?
    = render './flash_msg'
  %table
    %thead
      %tr
        %th
          Name
        %th
          Email
        %th
          Amount
        %th
          Assessment Date Count
    %tbody
      %tr
        %td
          = @user.name
        %td
          = @user.email
        %td
          #hide_wage_field
          #wage_field= text_field_tag 'Amount', @user.amount, disabled: true
        %td
          = @user.assess_date_count_in_days
          days /
          = @user.assess_date_count_in_weeks
          weeks
        %td
          =link_to 'Back ', root_path
          &nbsp;&nbsp;
          = "|"
        %td
          =link_to 'Edit', edit_user_path(@user)
          &nbsp;&nbsp;
          = "|"
        %td
          =link_to 'Delete', user_path(@user), method: :delete
          &nbsp;&nbsp;
          = "|"
        %td
          =link_to 'Create Record', new_user_record_path(@user)

:javascript

  $("#wage_field").hide();

  $("#hide_wage_field").mouseover(
    function(){
      $(this).hide();
      $("#wage_field").show();
    }
  );

  $("#wage_field").mouseleave(
    function(){
      $(this).hide();
      $("#hide_wage_field").show();
    }
  );
